{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block content%}

<div class="p-2">
    <h1>Dashboard</h1>
</div>
<div class="card">
    <div class="card-header">
       <strong>Current User:</strong>  {{current_user.first_name[0]|upper}}{{current_user.first_name[1:] }}
        {{current_user.last_name[0]|upper}}{{current_user.last_name[1:] }}
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <strong>ID:</strong>
                    {{current_user.id}}<br>
                    <strong>First Name:</strong>
                    {{current_user.first_name[0]|upper}}{{current_user.first_name[1:] }}<br>
                    <strong>Last Name:</strong>
                    {{current_user.last_name[0]|upper}}{{current_user.last_name[1:] }}<br>
                    <strong>Email:</strong>
                    {{current_user.email}}
                    <br><br>
                    <a href="/logout" class="btn btn-dark">Logout</a><br><br>
                </div>

                <div class="col-4">
                    <img src="{{ url_for('static',filename='IMG/Avatar.png')}}" alt="Avatar" width="150" align="right">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}