{% extends "base.html" %} {% block title %}Reports{% endblock %} {% block content%}
<h1>Reports</h1>
<br>
<br>
 {#% for product in products %#}
<div class="container d-flex flex-wrap align-items-center">
    <div class="m-2 card-report"> <strong>Expenses</strong></div>
    <div class="m-2 card-report"><strong>Total Users</strong></div>
    <div class="m-2 card-report"><strong>Total Products</strong></div>
    <div class="m-2 card-report"><strong>Total QTYs</strong></div>
</div>
{#% endfor %#}
{% endblock %}