{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}.
<form method="POST">
	<section class="vh-50">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-8">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">

							<h3 class="mb-5">Sign Up</h3>

							<div class="form-outline mb-4">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Email" />
							</div>

							<div class="form-outline mb-4">
								<input type="text" class="form-control" id="firstName" name="firstName"
									placeholder="First name" />
							</div>
							<div class="form-outline mb-4">
								<input type="text" class="form-control" id="lastName" name="lastName"
									placeholder="Last name" />
							</div>
							<div class="form-outline mb-4">
								<input type="text" class="form-control" id="role" name="role"
									placeholder="Role" />
							</div>

							<div class="form-outline mb-4">
								<input type="password" class="form-control" id="password1" name="password1"
									placeholder="Password" />
							</div>
							<div class="form-outline mb-4">
								<input type="password" class="form-control" id="password2" name="password2"
									placeholder="Confirm Password" />
							</div>
							<button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>

							<hr class="my-4">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
{% endblock %}